.create-user {
  position: fixed;
  bottom: 50px;
  height: 60px;
  width: 60px;
  line-height: 35px;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  right: 50px;
  top: unset;
  border-radius: 50% 50%;
  box-shadow: 0 0 5px 2px #ccc;
}

body {
  background: #f0f0f0;
}

table {
  background: white;
}
