.container
  h2 User List
  .row
    table.table.table-bordered.table-striped
      tr
        th Name
        th Permissions
        th Actions
      tr(ng-repeat='user in $ctrl.users track by $index')
        td {{user.name}}
        td {{user.permissions}}
        td.col-md-2.text-center
          a.btn.btn-info.btn-sm.glyphicon.glyphicon-cog(href='#/users/{{user.id}}')
          button.btn.btn-danger.btn-sm.glyphicon.glyphicon-remove-circle(ng-click='$ctrl.onDelete(user)')
a.btn.btn-lg.btn-success.glyphicon.glyphicon-plus.create-user(href='#/users-create')
