<div class="container">
  <h2>User List</h2>
  <div class="row">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Permissions</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="user in $ctrl.users track by $index">
      <td>{{user.name}}</td>
      <td>{{user.permissions}}</td>
      <td class="col-md-2 text-center">
        <a class="btn btn-info btn-sm glyphicon glyphicon-cog" href="#/users/{{user.id}}"></a>
        <button class="btn btn-danger btn-sm glyphicon glyphicon-remove-circle" ng-click="$ctrl.onDelete(user)"></button>
      </td>
    </tr>
  </table>
  </div>
</div>
<a class="btn btn-lg btn-success glyphicon glyphicon-plus create-user" href="#/users-create"></a>
